<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.tobject.findbugs.MarkerActions"
            objectClass="org.eclipse.core.resources.IMarker">
          <action
                class="de.kmindi.fbissueexport.actions.RightClickIssueShowExportAction"
                enablesFor="1"
                icon="icons/share-square-o_bd2e58_16.png"
                id="de.kmindi.fbissueexport.actions.RightClickIssueShowExportAction"
                label="Export to Issue-Tracker"
                menubarPath="fb">
         </action>
         
      </objectContribution>

   </extension>

</plugin>
